@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist/Urbanist-VariableFont_wght.ttf'),
    url('/fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}
